version: "3"

services:
  dns-[ISP_NAME]:
    image: jpillora/dnsmasq:latest 
    container_name: dns-[ISP_NAME]
    environment:
      - HTTP_USER=netadmin
      - HTTP_PASS=P@ssw0rd@dns    
    user: root
    cap_add:
      - ALL
    restart: "always"
    ports:
      - 0.0.0.0:[DNS_PORT]:5353/udp
      - 0.0.0.0:[WEB_PORT]:8080
    volumes:
      - ./[ISP_NAME]/dnsmasq.conf:/etc/dnsmasq.conf
      - ./[ISP_NAME]/logs:/var/log/
